<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    <div>
        <input v-model="inputValue"/>
        <button v-on:click="handleSubmit">提交</button>
    </div>
    <ul>
        <li v-for="(item,index) of list" :key="index">{{ item }}</li>
    </ul>
</div>
<script>
    new Vue({
        el: "#root",
        data: {
            inputValue: "hi",
            list: [1, 2, 3]
        },
        methods:{
            handleSubmit: function () {
                this.list.push(this.inputValue)
                this.inputValue=""
            }
        }
    })
</script>
</body>
</html>